.cashOption {
  background-color: #41C8E8;
  color: #FFFFFF;
  opacity: 100%;
  font-family: 'Helvetica neue';
  font-size: 26px;
  text-align: center;
  width: 150px;
  height: 70px;
  padding: 6px 6px 6px 6px;
}